
/* HERO*/
.section-hero-web{
  position: relative;
  width: 100%;
  height: 70vh;
  background: radial-gradient(circle at top, #412a00, #f1a61e);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Common styles for both text wrappers */
.carousel {
  margin: 100px auto;
  width: 90%;
  display: flex;
  white-space: nowrap;
  transform: rotate(-3deg); /* 👈 Slight 2D tilt */
}

.group{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1em;
}

.text {
  font-size: 16vw;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  padding-right: 0.2em;
}


/* Outline text layer */
.text.outline {
  color: transparent;
  -webkit-text-stroke: 1px white;
  opacity: 0.5;
  position: relative;
}

/* Slight offset for parallax feel */
.outline-text {
  position: absolute;
  transform: translateY(-50%) rotateX(20deg);
  transform: rotate(5deg);
}